@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">ORIGEN</th>
      <th scope="col">DESTINO</th>
      <th scope="col">FECHA Y HORA</th>
      <th scope="col">ENCOMIENDA</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>BOGOTA</td>
      <td>TUNJA</td>
      <td>15-08-2022 12:30 PM</td>
      <td>CAJA</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>TUNJA</td>
      <td>CALI</td>
      <td>31-08-2022 15:30 PM</td>
      <td>GUACAL</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>CALI</td>
      <td>BARRANQUILLA</td>
      <td>01-09-2022 2:30 AM</td>
      <td>CAJA</td>
    </tr>
  </tbody>
</table>